.header {
  background-color: rgb(19, 25, 33);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}
.header__nav {
  display: flex;
  justify-content: space-evenly;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}
.header__optionLineone {
  font-size: 12px;
  padding: 0px 1px;
}
.header__optionLinetwo {
  font-size: 14px;
  font-weight: 800;
}
.header__optionBasket {
  display: flex;
  align-items: center;
}
.header__optionbasketcount {
  margin-left: 10px;
  margin-right: 10px;
}
.header__link {
  color: white;
  text-decoration: none;
}

.header__search {
  display: flex;
  flex: 1;
}
.header__searchInput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.header__searchIcon {
  height: 22px !important;
  padding: 5px;
  background-color: #cd9042;
}
